// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {
  color: #fff;
  p { padding-top: 15px; }
  button { 
    font-size: 2rem;
    padding: 45px;
    box-shadow: 2px 2px black;
  }
  height: 800px;
  padding-top: 150px;
  background: image-url('dark_home.jpg');
  background-size: cover;
  .mission {
    h1 {
      text-shadow: 2px 2px black;
    }
  }
  .get-started {
    padding: 130px 0px;

  }
}

#card-errors {
  color: #fa755a;
  //div height for text to fill upon error(s)
  height: 1rem;
}

#receipt-email {
  width: 450px;
}

#sign-up-form {
  width: 450px;
  color: #fff;
}

.section2 {
  height: 800px;
  padding-top:100px;
}
.address-page {
  color: #fff;
  background-color: #6D8182;
  
  .address-question {
   padding: 300px 0px;

   h3 {
    font-size: 3rem;
    text-shadow: 2px 2px black;
   }
  }

  .address-form {
    padding-top: 100px;
    height: 800px;
  }
}

.letter-prompt {
  background-color: #6D8182;
	padding-top: 100px;
  height: 800px;
  .ck-editor__editable {
    height: 450px;
    overflow: auto;
  }
}

.review-page {
  background-color: #6D8182;
  padding-top: 100px;
  height: 800px;
}



#preview {
  height: 500px;
  overflow: auto;
	background-color: #fff;
	color: #000;
  border: 2px solid #000;
}

.payment-page {
  color: white;
  background-color: #6D8182;
  padding-top: 100px;
  height: 800px;
}




.StripeElement {
  background-color: white;
  height: 40px;
  width: 450px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}