// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {
  color: #fff;
  p { padding-top: 15px; }
  button { 
    font-size: 2rem;
    padding: 35px 80px;
    border-radius: 60px;
  }
  height: 800px;
  padding-top: 150px;
  background-image: url('https://s3-us-west-1.amazonaws.com/ginnysbucket/dev-images/dark_home.jpg');
  background-size: cover;
  .mission {
    h1 {
      text-shadow: 2px 2px black;
    }
  }
  .get-started {
    padding: 236px 0px 0px 0px;
  }
}

.modal-body {
  color: #000;
}

#card-errors {
  color: #fa755a;
  //div height for text to fill upon error(s)
  height: 1rem;
}



#sign-up-form {
  width: 450px;
  color: #fff;
}

.section2 {
  height: 1600px;
  padding: 100px 0px;
  button { 
    font-size: 2rem;
    padding: 35px 80px;
    border-radius: 60px;
  }
  .step1,.step2,.step3,.step4 {
    height: 600px;
    p {
      font-size: 2rem;
    }
    img {
      height:200px;
      position: relative;
    }
    i {
      font-size: 10rem;
      position: relative;
    }
    #google-maps {
      height: 300px
    }
    #google-maps-desc {
      padding: 75px 120px 0px 0px;
      
      animation-name: fade-in;
      animation-duration: 3s;
    }

    @keyframes fade-in {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    #envelope-desc {
      padding: 25px 0px 0px 100px;
      animation-name: fade-in;
      animation-duration: 3s;
    }
    #stripe-desc {
      padding: 20px 125px 0px 65px;
      animation-name: fade-in;
      animation-duration: 3s;
    }
    #plane-desc {
      padding: 0px 0px 0px 100px;
    }
  }
}

.address-page {
  color: #fff;
  background-color: #6D8182;
  
  .address-question {
   padding: 300px 0px;

   h3 {
    font-size: 3rem;
    text-shadow: 2px 2px black;
   }
  }

  .address-form {
    padding-top: 100px;
    height: 800px;
    label {
      font-size: 0.75rem;
    }
  }
}

.letter-prompt {
  
  .ck-editor__editable {
    height: 450px;
    overflow: auto;
  }
}

.review-page {
  h3 {
    color: #fff;
  }
}

.background-settings {
  background-color: #6D8182;
  padding-top: 100px;
  height: 800px;
}



#preview {
  height: 500px;
  overflow: auto;
	background-color: #fff;
	color: #000;
  border: 2px solid #000;
}

.payment-page {
  color: white;
  .product-info {
    span {
      font-weight: 200
    }
  }
  .price-info {
    text-align: right;
  }
  .StripeElement {
    background-color: white;
    height: 40px;
    width: 100%;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  //position of stripe logo under card input field
  #stripe-logo {
    float: right;
    padding-top: 4px;
  }
  // gives note in parentheses different font attributes than h3
  span {
    font-size: 1rem;
    font-weight: 200; 
  }
  #receipt-email {
    width: 100%;
  }
  // positions payment buttons to end where input field does
  .payment-buttons {
    float:right;
  }  
}

.confirmation {
  color: white;
}




